@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100;200;300;400;500;600;800;900&display=swap');
html{
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
#root{
  height: inherit;
}
@layer {
  .cite-container {
      @apply   max-w-[1580px] mx-auto  px-5
  };
  .nav{
    @apply  bg-slate-800
  };
  body{
    @apply bg-slate-700
  }
  .active{
    @apply bg-slate-700 
    rounded-t-[10px]
  }
}
